.SMain{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f6f6;
    background-image: url("../Assets/1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.SBox1{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
    background-color: rgb(106, 183, 231);
    width: 37%;
    height: 500px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.SDivider{
Border-radius: 2px solid #fff;
width: 4px;
}

.SBox2{
    
    justify-content: center; 
    background-color: rgb(106, 183, 231);
    width: 23%;
    height: 500px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.SFont{
font-family: 'Carattere', sans-serif;
font-style: italic;
color: #fff;
font-size: 60px;
}


.Sinput {
    border: none;
    outline: none;
    border-radius: 15px;
    
    font-size: 25px;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    height: 50px;
    width: 60%;
  }
  
  .Sinput:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }
  .Sinput::placeholder{
    font-family: 'Carattere', sans-serif;
    font-size: 25px;
  }


  